buildDerivedDataxcuserdata.DS_Store.svn
DerivedData
MailChimp.xcodeproj/xcuserdata/drain.xcuserdatad
MailChimp.xcodeproj/project.xcworkspace/xcuserdata/drain.xcuserdatad
MailChimp.xcodeproj/project.xcworkspace/xcuserdata/leo.xcuserdatad/UserInterfaceState.xcuserstate
